{% block allowdrop %}
<script>
function allowDrop(ev)
{
    ev.preventDefault();
}

function drag(ev)
{
    ev.dataTransfer.setData("Text", ev.target.id);
}

function drop(ev)
{
    ev.preventDefault();
    var dropped_id=ev.dataTransfer.getData("Text");
    var dropped = document.getElementById(dropped_id);
    var got = ev.target
    if(got.className === 'panel-body' || got.className === 'panel-footer' || got.className === 'panel-heading') {
    if (got.parentNode.id != dropped_id) {
        dropped.remove();
        url = '/card/addson/' + got.parentNode.id+ '/' + dropped_id ;
        // alert(url)
        // alert('Card inserted.') // it could be a flash
        window.location.assign(url)
    }
    }
    if(got.className === 'gist' || got.className === 'panel-title') {
    if (got.parentNode.parentNode.id != dropped_id) {
        dropped.remove();
        url = '/card/addson/' + got.parentNode.parentNode.id + '/' + dropped_id;
        // alert(url)
        // alert('Card inserted.') // it could be a flash
        window.location.assign(url)
    }
    }
}
</script>
{% endblock allowdrop %}
