{% for card in cards %}{# these cards are suposed to be nested by a row with class called 'masonry' #}
<div class="column col-xs-12 col-sm-6 col-md-4 card">
  <div class="panel panel-primary" id="{{ card.get('_id') }}" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)">
    <div class="panel-heading"><h1 class="panel-title">{{ card.get('title') }}</h1></div>
    <div class="panel-body">
      {% for gist in card.get('gist') %}
      <p class='gist'>{{ gist }}</p>
      {% endfor %}
    </div>
    <div class="panel-footer">
      <div class="row">
        <a href="{{ url_for('main.cardpage', cardid=card.get('_id')) }}" class='col-xs-2' role="button">
          <span class="glyphicon glyphicon-file tooltip-test"  data-toggle="tooltip" data-placement="top" title="View"></span>
        </a>
        <a href="{{ url_for('main.edit', cardid=card.get('_id')) }}" class='col-xs-2' role="button">
          <span class="glyphicon glyphicon-edit tooltip-test"  data-toggle="tooltip" data-placement="top" title="Edit"></span>
        </a>
        <a href="{{ url_for('main.delete', cardid=card.get('_id')) }}" class='col-xs-offset-5 col-xs-2' role="button" onclick="if(confirm('Sure to Delete it ?')==false)return false;">
          <span class="glyphicon glyphicon-trash tooltip-test"  data-toggle="tooltip" data-placement="top" title="Delete"></span>
        </a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
