{% extends 'base.html' %}
{% block page_content %}
<div>
  <form action="" method="post" class="form" role="form">
  {{ form.hidden_tag() }}
  <div class="form-group">
    {{ form.content(id="simplemde", placeholder="Post a Card.") }}
  </div>
  <div class="form-group">
    {{ form.submit(class="btn btn-primary") }}
  </div>
  </form>
</div>
{% endblock %}


{% block styles %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock styles %}


{% block scripts %}
{{ super() }}
{% include 'scripts/simplemde.html' %}
{% endblock scripts %}