<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Confirm - Qotes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0 auto; padding: 0 20px 20px 20px; max-width:800px; min-width:400px">
    <h2>Dear <b style="color: #4582ec">{{ user.kname }}</b>,</h2>
    <h3>Thanks for your attention.</h3>

    <p style="padding:0 1em 0 1em">It seems that you are registering for Qotes, sorry for disturbing if you are not supposed to receive this email.</p>
    <p style="padding:0 1em 0 1em">To confirm your account please click on the following link:</p>
    <p style="text-align:center"> <a href="{{ url_for('auth.confirm', token=token, _external=True) }}">{{ url_for('auth.confirm', token=token, _external=True) }}</a></p>

    <br>

    <p style="padding:0 1em 0 1em">Have fun with <b style="color: #4582ec">Qotes!</b></p>
    <p style="text-align:right; margin-bottom:2px">Sincerely,</p>
    <p style="text-align:right; margin-top:0"><b style="color: #4582ec">Sy</b></p>

    <br>

    <h3 style="text-align:center; margin:0">qotes.top ©2017 Sy</h3>
    <p style="text-align:center; margin:0"><small style="color: #8d9094">Note: Replies to this email address are not monitored.</small></p>
</body>
</html>