{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}Index - Qotes{% endblock %}


{% block page_content %}
<div class="col-md-12 column">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-5 column">
        <div class="page-header">
          <h1>Hello !</h1>
          <h2>Welcome to <span class="text-primary  tooltip-test"  data-toggle="tooltip" data-placement="top" title="My personal page"><a href="http://qotes.top/user/sy">Qotes</a></span></h2>
          <h2><a href="{{ url_for('auth.register') }}">Sign Up</a></h2>
        </div>
        <p>欢迎来到<a href="http://qotes.top/user/sy">Sy的个人主页</a></p>
        <p>新访客<a href="{{ url_for('auth.register') }}">注册</a></p>  
        <div class="row text-center">
          <a href="#index_hiddentag" class="navbar-link tooltip-test"  data-toggle="tooltip" data-placement="top" title="Move forward for more features">
            <h1><span class="glyphicon glyphicon-chevron-down"></span></h1>
          </a>
        </div>
      </div>
      <div class="col-md-6 column col-md-offset-1">
        <div class="panel panel-primary">
          <div class="panel-heading"><h1 class="panel-title">Get Started</h1></div>
          <div class="panel-body">
            <p>这是一张用来演示的“卡片”。</p>
            <p>Qotes 是一款有趣的笔记应用。以卡片为基本单元。</p>
            <p>卡片之间可以无限嵌套，就像文件夹一样。</p>
            <p>Qotes 原生支持Markdown。</p>
            <p>发挥你的想象力，开始体验吧。</p>
          </div>
        </div>
      </div>
      <span id="index_hiddentag"></span>
    </div>
  </div>
</div>
{% endblock page_content %}


{% block page_under %}
<div class="col-md-12 column">
  <div class="jumbotron">
    <div class="row index_other_content">
      <div class="col-md-4 column text-center">
        <span class="glyphicon glyphicon-list-alt index_infor_glyph"></span>
        <p class="page-header">以<span class="text-primary">卡片</span>为单位</p>
        <p>易读易编辑</p>
        <p>传统而有新意</p>
        <p>可扩展的搜索</p>
        <p>瀑布流展示</p>
      </div>
      <div class="col-md-4 column text-center center-block">
        <span class="glyphicon glyphicon-folder-open index_infor_glyph"></span>
        <p class="page-header">是卡片也是<span class="text-primary">卡片集</span></p>
        <p>多层嵌套</p>
        <p>帮助整理逻辑</p>
        <p>方便分类汇总</p>
        <p>智能目录</p>
      </div>
      <div class="col-md-4 column text-center">
        <span class="glyphicon glyphicon-console index_infor_glyph"></span>
        <p class="page-header">支持<span class="text-primary">Markdown</span></p>
        <p>丰富的语类</p>
        <p>代码高亮优化</p>
        <p>分级标题排版</p>
        <p>实时预览</p>
      </div>
    </div>
  </div>
</div>
{% endblock page_under %}


{% block nav_login %}
<ul class="nav navbar-nav navbar-right">
  {% if current_user.is_authenticated %}
  <li><a href="{{ url_for('main.userpage', username=current_user.kname) }}">Profile</a></li>
  {% else %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user"></span> Sign In
    </a>
    <div role="form" class="dropdown-menu" id="nav_login_form" role="menu">
      <div class="col-xs-10 col-xs-offset-1">
        {{ wtf.quick_form(nav_login_form) }}
      </div>
    </div>
  </li>
  {% endif %}
</ul>
{% endblock nav_login %}
