{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% import 'scripts/pagemacro.html' as pagemacro %}

{% block title %}Index - Qotes{% endblock %}


{% block page_content %}
<div class="col-md-12 column">
  <div class="row jumbotron">
    <div class="col-md-5 column">
      <h1 class="page-header">快速新建</h1>
      <p>你可以在右方快速新建一个卡片。</p>
      <p>或者点击<a href="{{ url_for('main.write') }}">这里</a>使用功能更丰富的编辑器。</p>
      <p>或者点击下方的箭头查看卡片集。</p>
      <div class="row text-center">
          <a href="#index_hiddentag" class="navbar-link tooltip-test"  data-toggle="tooltip" data-placement="top" title="My Card Collections">
            <h1><span class="glyphicon glyphicon-chevron-down"></span></h1>
          </a>
      </div>
      
    </div>
    <div class="col-md-6 column col-md-offset-1">
      <div class="panel-body indexl-input" contentEditable="true", id="markdownime" spellcheck="false">
        
      </div>
      <form action="", method="POST">
        {{ quickcard_form.hidden_tag() }}
        {{ quickcard_form.content(id="ime_content", type="hidden") }}
        {{ quickcard_form.submit(onclick="quickcard()", class="btn btn-primary btn-block pull-right") }}
      </form>
    </div>
    <span id="index_hiddentag"></span>
  </div>
</div>
{% endblock page_content %}


{% block page_under %}
<div class="col-md-12 column">
  <div class="row">
    <h2 class="page-header">My card collections</h2>
    <div class="row masonry">
      {% include 'card/wildcards.html' %}
    </div>
    <div class="row pagination">
      {{ pagemacro.pagination_widget(pagination, 'main.index')}}
    </div>
  </div>
</div>
{% endblock page_under %}


{% block scripts %}
{{ super() }}
{% include 'scripts/masonry.html' %}
{% include 'scripts/allowdrop.html' %}
{% include 'scripts/markdownime.html' %}
{% endblock scripts %}